*{
    color: #FAED26;
    /* rgb(250, 237, 38) */
    color: #46344E;
    /* rgb(70, 52, 78) */
    color: #5A5560;
    /* rgb(90, 85, 96) */
    color: #9D8D8F;
    /* rgb(157,141,143) */
    color: #9B786F;
    /* rgb(155, 120, 111) */
}