* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #000000;
    background-color: #ffffff;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #ffffff;
}


/*----------------------------------------------------*/


/*-------------------REUSEABLE ELEMENT---------------*/

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}


/*---------------------------------------------------*/


/*----------------------HEADER----------------------*/


/*--------------------------------------------------*/


/*---------------------Header Section--------------*/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
}

.nav-brand {
    float: left;
    padding-left: 80px;
}

.main-nav {
    float: right;
    padding-right: 50px;
}

.main-nav li {
    display: inline-block;
    margin-right: 30px;
}

.main-nav li a {
    text-decoration: none;
    color: #ffffff;
    position: relative;
}

.main-nav li a::after {
    display: block;
    content: " ";
    position: absolute;
    width: 0;
    height: .1rem;
    background: #ffffff;
    bottom: -6px;
    transition: all .3s ease-in-out;
}

.main-nav li a:hover:after,
.main-nav li a:active::after {
    width: 100%;
}

.nav-toggler {
    color: #fff;
    font-size: 1.5rem;
    display: none;
    padding: 0 2.5rem;
}


/*--Sticky--*/

.sticky {
    background-color: #fff;
    position: fixed;
    z-index: 999;
    width: 100%;
    color: #000000;
    top: 0;
    left: 0;
    padding: 15px 0;
    border-bottom: 1px solid #d6d6d6;
}

.sticky a {
    color: #000000;
    font-weight: bold;
}

.sticky ul a {
    color: #000000;
    font-weight: bold;
}

.sticky ul a::after {
    background: #000000;
    font-weight: bold;
}

.sticky .nav-toggler {
    color: #000000;
}


/*--------------------End Header Section----------*/


/*-------------------Showcase Section------------*/

.showcase {
    background-image: linear-gradient(to left, rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url("../img/showcs.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
    font-weight: bold;
    font-size: 85%;
    text-align: center;
}

.main-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.avatar img {
    border-radius: 50%;
    border: 3px solid #ffffff;
    animation: avt 1s forwards;
    animation-delay: 1s;
    opacity: 0;
}

@keyframes avt {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.main-box h1 {
    padding-top: 30px;
    text-align: center;
    color: #ffffff;
    font-size: 300%;
    font-weight: 700;
    animation: b-h1 1s forwards;
    animation-delay: 1s;
    opacity: 0;
}

@keyframes b-h1 {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.scroll {
    width: 20px;
    height: 35px;
    left: 50%;
    margin-top: 30px;
    border: 2px solid #ffffff;
    border-radius: 25px;
    position: relative;
    animation: sc 4.5s forwards;
    animation-delay: 1s;
    opacity: 0;
}

.scroll:after {
    align-content: center;
    display: block;
    content: " ";
    width: 2px;
    height: 10px;
    top: 50%;
    left: 43%;
    position: absolute;
    background: #fff;
    border-radius: 25px;
    transform: translate(-50%, -50%);
    animation: sca;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15, .41, .69, .94);
    animation-iteration-count: infinite;
    animation-delay: 1s;
    opacity: 0;
}

@keyframes sca {
    from {
        transform: translateY(-100%);
        opacity: 1;
    }
    to {
        transform: translateY(0);
        opacity: 0;
    }
}

@keyframes sc {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/*----------------------End Showcase Section-------------------*/


/*-------------------------------------------------------------*/


/*-----------------------CONTENT-----------------------------*/


/*-----------------------------------------------------------*/


/*-----------------------About Section-------------------------------*/

.about {
    width: auto;
    height: 500px;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
}

.about h2 {
    font-weight: bold;
    font-size: 120%;
    margin: 30px 0 20px 0;
}

.about .info {
    width: 50%;
    float: left;
    line-height: 30px;
}

.about .address {
    margin: 10px 0;
    padding: 2em 0 0 0;
}

.about .address p {
    padding: .3em 0;
}

.about .skill {
    width: 50%;
    float: right;
}

.about .left {
    float: left;
}

.about .right {
    float: right;
}

.about .address span {
    margin: 0 3px;
    font-weight: bold;
}

.about-cont {
    margin: 50px 100px;
    background-color: #000000;
}

.skill {
    padding: 3rem 0 0 3rem;
}

.skill .bar {
    padding: 0 0 5em 0;
}

.skill h5 {
    font-size: 100%;
    font-weight: bold;
    float: left;
    padding-left: 0.5rem;
}

.skill span {
    float: right;
    padding-right: 0.5rem;
}

.line {
    position: relative;
    background-color: #d6d6d6;
    width: 100%;
    height: 0.3rem;
    border-radius: 0.3em;
    top: 30px;
    z-index: 1;
    animation: ln 5s forwards;
}

.line::after {
    position: absolute;
    content: ' ';
    background-color: #333131;
    z-index: 2;
    height: 0.3rem;
    width: 100%;
    border-radius: 0.3em;
    left: 0;
    top: 0;
    animation: ln 5s forwards;
}

@keyframes ln {
    from {
        width: 0%
    }
    to {
        width: 100%;
    }
}

.line-1::after {
    max-width: 80%;
}

.line-2::after {
    max-width: 70%;
}

.line-3::after {
    max-width: 10%;
}

.line-4::after {
    max-width: 10%
}


/*---------------------End About Section---------------------------------*/


/*---------------------Project Section---------------------------------*/

.project {
    margin: 0 100px 0px 100px;
    font-size: 1rem;
}

.project h1 {
    text-align: center;
    font-size: 150%;
    font-weight: bold;
    margin: 0 0 50px 0;
}

.project h1::after {
    content: ' ';
    display: block;
    height: 3px;
    width: 180px;
    background-color: #000000;
    margin: 15px auto 0 auto;
}

.about-picture {
    position: relative;
}

.about-picture img {
    border: 3px solid #d6d6d6;
    transition: 0.5s;
}

.about-picture:hover img,
.about-picture:active img {
    filter: blur(1px) brightness(70%);
}

.about-picture:hover .picture-title,
.about-picture:active .picture-title,
.about-picture:hover a,
.about-picture:active a {
    opacity: 1;
}

.about-picture a {
    display: block;
    position: absolute;
    font-size: 0.7rem;
    font-weight: 700;
    top: 50%;
    left: 50%;
    padding: 5px 10px;
    border: 2px solid #fff;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.about-picture a:hover {
    background: #eee;
    color: #333;
}

.about-picture .picture-title {
    position: absolute;
    top: 85%;
    left: 20%;
    font-size: 0.7rem;
    color: #fff;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.about-picture .detail {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    opacity: 0;
    outline: 1px solid #fff;
    outline-offset: -7px;
}

.about-picture:hover .detail,
.about-picture:active .detail {
    opacity: 1;
    transition: all ease-out .5s;
}


/*--------------------End Project Section-----------------------------*/


/*--------------------Contact Section--------------------------------*/

.contact {
    position: relative;
    padding: 200px 0;
}

.contact h1 {
    text-align: center;
    font-size: 150%;
    font-weight: bold;
    margin: 0;
}

.contact h1::after {
    content: ' ';
    display: block;
    height: 3px;
    width: 180px;
    background-color: #000000;
    margin: 15px auto 0 auto;
}

.contact i {
    font-size: 1rem;
    color: #fff
}

.contact .detail {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.contact .info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    text-align: left;
    margin-left: 30px;
}

.contact span {
    display: block;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    border-radius: 50%;
    color: #fff;
}

.contact h5 {
    font-size: .9rem;
    color: #333333;
    letter-spacing: 2px;
    margin: .5rem 0;
}

.contact h6 {
    font-size: 0.7rem;
    color: #333333;
    letter-spacing: 1px;
}

.contact .info-detail {
    padding: 1rem;
    font-weight: bold;
}


/*--------------------End Contact Section---------------------------*/


/*--------------------Footer Section------------------------------*/

footer {
    background-color: #e6e6e6;
    width: auto;
    height: 250px;
    text-align: center;
}

footer h2 {
    color: #000000;
    font-size: 100%;
    font-weight: 600;
    padding-top: 3rem;
}

footer p {
    font-size: 70%;
    letter-spacing: 1px;
}

footer strong {
    font-weight: bold;
}

footer a {
    color: #333;
    font-weight: bold;
    font-size: 80%;
}

footer a:hover,
footer a:active {
    color: #eee;
}

footer i {
    padding: 2rem 1rem;
}


/*--------------------End Footer Section--------------------------*/


/*Big tablet*/

@media screen and (max-width: 1024px) {
    .about .left {
        float: none;
    }
    .about .right {
        float: none;
    }
    .about .address {
        margin-top: 15px;
        padding: 0;
    }
    h1 {
        padding-top: 50px;
    }
    .project {
        margin-bottom: 100px;
    }
    .testimonials-section {
        height: auto;
        padding-bottom: 70px;
    }
    .testimonials-section .row {
        font-size: 80%;
        max-width: 800px;
    }
    .contact {
        padding-top: 50px;
        padding-bottom: 150px;
    }
    .contact .detail {
        padding-top: 75px;
        padding-bottom: 0;
    }
    .nav-brand {
        padding-left: 50px;
    }
    .nav-toggler {
        display: none;
    }
}


/*Small phone and small tablet*/

@media screen and (max-width: 767px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    html {
        font-size: 100%;
    }
    .main-nav {
        position: absolute;
        overflow: hidden;
        width: 100%;
        right: 0;
        top: 50px;
        background: rgba(241, 241, 241, .9);
        padding: 0;
    }
    .main-nav li {
        display: block;
        margin: 0;
        text-align: center;
        padding: 10px;
        font-weight: bold;
    }
    .main-nav li a {
        position: relative;
        color: #000000;
    }
    .main-nav li a::after {
        height: 3px;
        position: absolute;
        background: #000000;
        left: 50%;
        text-align: center;
        transform: translate(-50%);
    }
    .nav-toggler {
        overflow: visible;
    }
    .about .info {
        display: block;
        width: 100%;
    }
    .about .skill {
        width: 100%;
        padding: 0;
        margin: 20px 0;
    }
    .about .address {
        clear: both;
    }
    .testimonials-section .row {
        padding: 0 100px;
    }
    .project .col {
        width: 100%;
    }
    .testimonials-section .col {
        width: 100%;
        padding: 20px 0;
    }
    .testimonials-section cite {
        margin: 10px;
    }
    .testimonials-section blockquote {
        font-size: 140%;
    }
    .contact .info {
        width: 100%;
        justify-content: left;
        margin-left: 30%;
    }
    .contact .detail {
        display: block;
        width: 100%;
    }
    .contact h5,
    .contact h6 {
        font-size: 120%;
    }
    footer {
        font-size: 150%;
    }
    .sponsors-section {
        height: auto;
    }
    .sponsors-section .row {
        padding-bottom: 100px;
    }
    .sponsors-showcase .logo-sponsors {
        width: 130px;
        height: 130px;
    }
    .nav-brand {
        padding-left: 50px;
    }
    .nav-toggler {
        display: block;
    }
    .contact .info {
        margin: 0 auto;
        justify-content: center;
    }
}


/*Small phone*/

@media screen and (max-width: 480px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .main-nav {
        position: absolute;
        overflow: hidden;
        width: 100%;
        right: 0;
        top: 50px;
        background: rgba(241, 241, 241, .9);
        padding: 0;
    }
    .main-nav li {
        display: block;
        margin: 0;
        text-align: center;
        padding: 10px;
        font-weight: bold;
    }
    .main-nav li a {
        position: relative;
        color: #000000;
    }
    .main-nav li a::after {
        height: 3px;
        position: absolute;
        background: #000000;
        left: 50%;
        text-align: center;
        transform: translate(-50%);
    }
    .nav-toggler {
        overflow: visible;
    }
    .nav-brand {
        float: left;
    }
    .nav {
        padding: 0.7rem 0.7rem;
    }
    .showcase h1 {
        font-size: 200%;
    }
    .about-cont {
        margin: 30px;
    }
    .project {
        margin: 30px;
    }
    .project .col {
        margin: 10px 0;
    }
    .testimonials-section .row {
        padding: 0 30px;
    }
    .testimonials-section {
        padding-bottom: 30px;
    }
    .sponsors-showcase li {
        width: 100%;
    }
    .sponsors-showcase {
        margin-left: 0;
    }
    .sponsors-section .row {
        padding-bottom: 30px;
    }
    .sponsors-section h1 {
        margin-bottom: 50px;
    }
    .contact .info {
        margin: 0 auto;
        justify-content: center;
    }
    .contact h5,
    .contact h6 {
        font-size: 90%;
    }
    .nav-brand {
        padding-left: 50px;
    }
}